.btn-box {
	width: 90%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.table2 {
	display: none;
}

.btn {
	width: 100px;
}

.table {
	margin-top: 30px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 595px) {
	.table {
		display: none;
		background-color: #edebeb;
	}
	.table2 {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}
	.upper {
		display: flex;
		background-color: #eaecff;
		height: 60px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.upper-left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 2px solid;
	}

	.upper-right {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lower {
		display: flex;
		background-color: #ffffff;
		height: 70px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.lower-left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.lower-right {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
